#register-container {
    width: 100%;
    padding-top: 180px;
    display: flex;
    justify-content: center;
}

.register {
    &-title {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: rgba(32, 139, 188, .2);
        padding: 30px 50px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        .input-container {
            display: flex;
            align-items: end;
            justify-content: space-between;
            gap: 30px;

            &>label {
                font-size: 21px;
            }

            &>input {
                padding: 10px 15px;
                font-size: 21px;
                border-radius: 10px;
                border: none;
                color: #000000;
                background-color: rgba(253, 253, 253, 0.6);
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;

                &:hover {
                    background-color: var(--font-color);
                }

                &:focus {
                    outline: none;
                }
            }

        }

        &>button {
            padding: 10px 15px;
            font-size: 21px;
            background-color: var(--blue-main);
            border: none;
            cursor: pointer;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}


@media(max-width: 968px) {
    #register-container {
        width: 100%;
        padding-top: 180px;
        display: flex;
        justify-content: center;
    }

}

@media(max-width: 768px) {
    #register-container {
        width: 100%;
        display: flex;
        padding-top: 140px;
        justify-content: center;
    }

    .register {
        &-title {
            display: none;
        }

        &-form {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 45px;
            background-color: transparent;
            padding: 0;

            .input-container {
                position: relative;

                &>label {
                    position: absolute;
                    top: -30px;
                    font-size: 16px;
                    text-align: left;
                }

                &>input {
                    width: 100%;
                    flex: 1;

                    &:hover {
                        background-color: var(--font-color);
                    }

                    &:focus {
                        outline: none;
                    }
                }

            }
        }
    }
}